services:
  mysql:
    container_name: 'pcshop-db'
    image: 'mysql:9.4.0'
    ports:
      - '3306:3306'
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 5s
      retries: 10
    volumes:
      - mysql_volume:/var/lib/mysql
  app:
    container_name: pcshop-app
    platform: linux/amd64
    build: .
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - ./product-images/:${IMAGE_PATH}
      - ./src:/app/src
  stripe:
    image: stripe/stripe-cli
    command: listen --forward-to app:8080/api/webhooks/stripe --api-key ${STRIPE_SECRET_KEY}
volumes:
  mysql_volume: